body {
    background-image: url(/images/camel-g2fae0cf40_1280.jpg);
  }
  
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
 
  /* .bar-menu {
    
    background-color: rgb(53, 50, 49);
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 15px;
  }
   .bar-menu li a{
    color: rgb(254, 254, 254);
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
  }
  .bar-menu li a:hover{
    color: rgb(224, 114, 10);
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    
  }

  li{
    list-style-type: none;

  } */

  /* style de la partie header bar_menu */



.navbar{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.navbar a {
  color: white;
}
.navbar .logo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
}
.navbar .nav-links ul{
  display: flex;
}
.navbar .nav-links ul li {
  margin: 0 25px;
}

.navbar .nav-links ul li.active a {
  color: red;
  font-weight: bold;  
}

.menu-hburger{
  display: none;
  width: 45px;
  position: absolute;
  top: 30px;
  right: 30px;

}

@media screen and (max-width:900px) {
  .navbar .logo{
    position:absolute
  }
  .cards_item {
    color: transparent;
  }
  .prixsuplement{
    display: none;
  }
  .card_title{
    display: none;
  }
  .navbar{
    padding: 0%;
  }
  .menu-hburger{
    display: block;
    right: 10px;
    top: 10px;
  }
  .nav-links{
    position: absolute;
    background-color:rgba(130, 128, 128, 0.799);
    backdrop-filter: blur(.7px);
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }
  .mobile-menu{
    margin-left: 0;
  }

  .nav-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .navbar .nav-links ul li {
    margin:25px 0;
    font-family: 'Patrick Hand', cursive;
    font-size: 2rem;
  }


}





  /* style de la partie body  */
  .main {
    max-width: 1200px;
    margin: 0 auto;
      font-family: 'Patrick Hand', cursive;
      color: #00fbff;
  }
  
  .cards {
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: start;

  }
  a{
    text-decoration: none;
  }
  
  h2 {
    color: #afbdbd;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
    min-height: 600px;
  }
  
  .card_image {
    max-height: 250px;
  }
  
  .prixsuplement{
    color: rgb(216, 165, 98);
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
 }
 @keyframes clignoter {
   0%   { opacity:1; }
   40%   {opacity:0; }
   100% { opacity:1; }
 }


/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
  }
  #youtube,
  #istagram,
  #phone,
  #facebook {
    font-size: 2em;
    background-color: #c17921;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
      2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 40px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
      0 0 200px #0072ff;
  }
  #twitter {
    animation-delay: 0.3s;
  }
  #facebook {
    animation-delay: 0.7s;
  }
  #github {
    animation-delay: 0.1s;
  }
  
  @keyframes animate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }
  

/* responsive  header*/




/* responsive body */
@media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: #0f1212;
    border-radius: 0.50rem;
    box-shadow: 0 20px 40px -14px whitesmoke;
    display: flex;
    flex-direction: column;
  }
  
  .card_content {
    padding: 0;
  }
  
  .card_title, .card_text{
    position: relative;
    padding: 0 1rem;
    width: fit-content;
  }
  
  .card_title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 1rem;
    width: 0%;
    height: 5px;
    background: #3bfc00;
    transition-duration: 0.5s;
  }
  
  .card_title:hover::after {
    content: "";
    width: 100%;
    transition-duration: 0.5s;
  }
  
  .card_title:hover{
    cursor: pointer;
  }
  
  .card_text p{
    position: relative;
    border-radius: 5px;
  }
  .card_text p:hover{
    transition-duration: 0.3s;
    background: #5e5e5e;
  }
  .card_text p::after{
    position: absolute;
    top: -10px;
    right: -50px;
    width: 60px;
    height: 30px;
    background: #FFF;
    color: #333;
    box-shadow: 0 0 15px 2px yellow;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    z-index: 1111111111;
  }
  .card_text p:hover::after{
    content: "New";
  }
  
  .priceee {
      background: yellow;
      color: black;
      padding: 5px;
      border-radius: 30px;
  }
  
  .card_title {
    font-family: 'Lobster', cursive;
    color: whitesmoke;
  }

  /* style de la bare menu  */

  /* bootstrap dropdown hover menu*/


  